#### Formatted string literals (also called f-strings for short)

In [1]:
import datetime

The strftime("%A") function is used to format a date or time into string that represents the day of the week.

 %A is a directive used within 'strftime()' function to represent the full name of the day of the week.

 A directive refers to string pattern on how to interpret and display certain data.

In [2]:
dateAndTime = datetime.datetime.now()
print('Current date and time:')
print(dateAndTime)

Current date and time:
2024-01-18 02:11:20.815368

In [3]:
year = dateAndTime.year
day = dateAndTime.strftime("%A")

In [4]:
print(f'Year : {year}\nDay : {day}')

Year : 2024
Day : Thursday

In [5]:
month = dateAndTime.strftime("%B")
print('Month :',month)

Month : January

In [6]:
Year = dateAndTime.strftime("%Y")
print('Year :',Year)

Year : 2024

In [7]:
hour = dateAndTime.strftime("%H")
print('Hour :',hour)

Hour : 02

In [8]:
minute = dateAndTime.strftime("%M")
print('Minute :',minute)

Minute : 11

#### Checking datatype

In [9]:
varInt = 10
varFloat = 3.14
varString = "String data"
varList = [100,200,300]
varDict = {'intValue': 1, 'floatNumber': 1.1}
varBool = True
varTuple = (1,2,3,'Start')

In [10]:
print (F'The datatype of varInt variable is {type(varInt)}')

The datatype of varInt variable is <class 'int'>

In [11]:
print (f'The datatype of varFloat variable is {type(varFloat)}')

The datatype of varFloat variable is <class 'float'>

In [12]:
print (F'The datatype of varString variable is {type(varString)}')

The datatype of varString variable is <class 'str'>

In [13]:
print (F'The datatype of varList variable is {type(varList)}')

The datatype of varList variable is <class 'list'>

In [14]:
print (F'The datatype of varDict variable is {type(varDict)}')

The datatype of varDict variable is <class 'dict'>

In [15]:
print (F'The datatype of varBool variable is {type(varBool)}')

The datatype of varBool variable is <class 'bool'>

In [16]:
print (F'The datatype of varBool variable is {type(varTuple)}')

The datatype of varBool variable is <class 'tuple'>

In [17]:
print(varTuple[0])

1

In [18]:
print(type(varTuple[1]))

<class 'int'>

In [19]:
print(varTuple[2])

3

In [20]:
print(type(varTuple[3]))

<class 'str'>

In [21]:
print(varTuple[0:2])

(1, 2)

In [22]:
print(varList[0])

100

In [23]:
print(type(varList[1]))

<class 'int'>

In [24]:
print(varList[2])

300

In [25]:
print(varList[0:])

[100, 200, 300]

In [26]:
print (F'The datatype of year is {type(year)}')
print (F'The datatype of Year is {type(Year)}')

The datatype of year is <class 'int'>
The datatype of Year is <class 'str'>

#### Creating table

In [27]:
table = {'Year': year, 'Hour': int(hour), 'Minute': int(minute)}
print (F'The datatype of table variable is {type(table)}')

The datatype of table variable is <class 'dict'>

In [28]:
print ('The datatype of table.items() is {}'.format(type(table.items())))

The datatype of table.items() is <class 'dict_items'>

In [29]:
for interval,value in table.items():
    print(f'{interval:10}-{value:10d}')     # Passing an integer after ':' will cause that field to be minimum number of characters wide.

Year      -      2024
Hour      -         2
Minute    -        11

#### Output Formatting

In [30]:
a = 'Python';  b = 'programming'
print('{} is incredibly versatile {} language.'.format(a,b))

Python is incredibly versatile programming language.

In [31]:
print('We will be {1} in {0}.'.format(a,b))

We will be programming in Python.

In [32]:
print('We will be {place1} machine learning {place2}.'.format(place1 = 'learning',place2 = 'concepts'))

We will be learning machine learning concepts.

In [33]:
message = input('Enter a departing message\t')
print('Eveyone please be seated.',message)

Enter a departing message	Thank You
Eveyone please be seated. Thank You